.contact {
  height: 100vh;
  h3 {
    color: #005e5c;
    text-align: center;
    margin: 4% 0;
    font-size: 3rem;
  }
  form {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2%;
    @media (max-width: 768px) {
      width: 80%;
      margin-bottom: 4%;
    }
    @media (max-width: 820px) {
      width: 80%;
    }
    @media (max-width: 820px) {
      width: 90%;
    }
    .infos {
      label {
        display: block;
        margin-bottom: 1%;
        font-size: 1rem;
        font-weight: 600;
        @media (max-width: 820px) {
          margin-bottom: 2%;
          font-size: 1.2rem;
        }
        @media (max-width: 400px) {
          font-size: 0.9rem;
        }
        span {
          color: rgb(228, 4, 4);
          font-size: 0.8rem;
          font-weight: bolder;
        }
      }
      input {
        width: 100%;
        padding: 1% 1%;
        margin-bottom: 2%;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 1rem;
        @media (max-width: 768px) {
          padding: 2% 1%;
          width: 100%;
          margin-bottom: 4%;
          font-size: 0.8rem;
        }
        @media (max-width: 820px) {
          padding: 2% 3%;
          width: 100%;
          margin-bottom: 4%;
          font-size: 0.8rem;
        }
        @media (max-width: 400px) {
          font-size: 0.7rem;
          width: 100%;
          padding: 3% 3%;
        }
      }
      input:focus {
        outline: none;
        box-shadow: rgba(#0274be, 0.2) -1px -1px 9px 1px;
        border: 1px solid #0274be;
      }
      textarea {
        width: 100%;
        height: 6rem;
        margin-bottom: 1%;
        padding: 1% 1%;
        border: 1px solid #ddd;
        border-radius: 3px;
        @media (max-width: 400px) {
          font-size: 0.7rem;
          width: 100%;
          padding: 3% 3%;
        }
      }
      textarea:focus {
        outline: none;
        box-shadow: rgba(#0274be, 0.2) -1px -1px 9px 1px;
        border: 1px solid #0274be;
      }
    }
    .submit {
      padding: 1.5% 2.5%;
      background-color: #005e5c;
      border: none;
      border-radius: 2px;
      color: #ffffff;
      font-size: 700;
      margin-top: 2%;
      @media (max-width: 768px) {
        padding: 2% 3%;
        font-size: bolder;
      }
    }
  }
}
