.title{
  display: inline;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #005e5c;
  font-size: 2rem;
  text-align: center;
}
.map-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin-bottom: 2rem;
  width: 100%;
  height: 300px;
  
}
.leaflet-container{
  width: 90%;
  height: 100%;
 
  opacity: 0;
  animation: backInRight 1s ;
  animation-fill-mode: forwards;
}